<div class="bg-gradient-primary">
  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <img class="col-lg-6 d-none d-lg-block" src="../../assets/login-image.jpg">
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenido de Regreso</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input [(ngModel)]="loginUserData.user" name="user" type="text" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingrese el usuario">
                    </div>
                    <div class="form-group">
                      <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                    </div>
                    <button (click)="loginUser()" class="btn btn-primary btn-user btn-block">
                      Ingresar
                    </button>

                    <div class="text-center" *ngIf="(errorMsg!=='')">
                      <div class="btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                          <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span class="text">{{errorMsg}}</span>
                        <button class="close" type="button" (click)="clearError()" aria-label="Close">
                          <span aria-hidden="true">×</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
